* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-header {
  display: flex;
  justify-content: center;
  border: 1px solid #d9d9da;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  background: #fff;
}

.card-body {
  display: flex;
  border: 1px solid #d9d9da;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  background: #fff;
  margin: 2px;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
}

.btn-group {
  display: flex;
}

.btn {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: #3920a6;
  color: #fff;
}

.btn-primary:hover {
  background: #3920a6;
  color: #fff;
}

.btn-success {
  background: #1b9131;
  color: #fff;
}

.msg-box {
  display: flex;
  justify-content: center;
}
.list {
  width: 50%;
}
.list-group {
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  background: #fff;

}
h3 {
  text-align: center;
  padding: 2px;
  border-bottom: 1px solid #ccc;
  margin: 0;

}
ul {
  list-style: none;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border: 1px solid #ccc;
}
